<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace：必须与对应的接口全类名一致
id:必须与对应接口的某个对应的方法名一致
-->
<mapper namespace="com.api.mapper.ContactorMapper">

    <insert id="addContactor" parameterType="Contactor">
        INSERT INTO tcontactor(
            contactor_name,
            contactor_mobile,
            create_time,
            modify_time,
            password,
            customer_id,
            role_id
        ) values (
            #{contactor.contactorName},
            #{contactor.contactorMobile},
            sysdate(),
            sysdate(),
            #{contactor.password},
            #{contactor.customerId},
            #{contactor.roleId});
        <selectKey resultType="String" order="AFTER" keyProperty="contactor.contactorId">
            SELECT LAST_INSERT_ID() AS contactorId
        </selectKey>
    </insert>

    <select id="getPassword" parameterType="String" resultType="String">
        select password from tcontactor where contactor_mobile = #{mobileno};
    </select>

    <select id="getContactorByMobileno" parameterType="String" resultType="Contactor">
        SELECT
          a.contactor_id contactorId,
          a.contactor_name contactorName,
          a.role_id roleId,
          a.contactor_mobile contactorMobile,
          a.customer_id customerId,
          b.customer_name customerName,
          c.role_name roleName
        FROM tcontactor a, tcustomer b, tcontactorrole c
        WHERE
          a.contactor_mobile = #{mobileno} AND
          a.customer_id = b.customer_id AND
          a.role_id = c.role_id
    </select>

    <select id="getContactorList" resultType="Contactor">
        SELECT
          a.contactor_id contactorId,
          a.contactor_name contactorName,
          a.role_id roleId,
          a.contactor_mobile contactorMobile,
          a.customer_id customerId,
          b.customer_name customerName,
          c.role_name roleName
        FROM tcontactor a, tcustomer b, tcontactorrole c
        WHERE
          a.role_id = c.role_id AND
          a.customer_id = b.customer_id
        <if test="contactorName!=null and contactorName!=''">
            <![CDATA[
                and a.contactor_name like #{contactorName}
            ]]>
        </if>
        <if test="customerId!=null and customerId!=''">
            <![CDATA[
                and a.customer_id = #{customerId}
            ]]>
        </if>
        LIMIT #{start},#{limit}
    </select>

</mapper>