<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace：必须与对应的接口全类名一致
id:必须与对应接口的某个对应的方法名一致
-->
<mapper namespace="com.api.mapper.CustomerMapper">

    <insert id="addCustomer" parameterType="Customer">
        INSERT INTO tcustomer(
          customer_name,
          owner_id,
          create_time,
          modify_time
        ) values (
          #{customerName},
          #{ownerId},
          sysdate(),
          sysdate());
        <selectKey resultType="String" order="AFTER" keyProperty="customerId">
            SELECT LAST_INSERT_ID() AS customerId
        </selectKey>
    </insert>

    <select id="getCustomerList" resultType="Customer">
        <![CDATA[
            SELECT
              a.customer_id customerId,
              a.customer_name customerName,
              a.owner_id ownerId,
              b.supplier_name ownerName,
              a.create_time createTime
            FROM tcustomer a, tsupplier b
            WHERE
              a.owner_id = b.supplier_id and
              a.is_disable = 1
        ]]>
        <if test="custname!=null and custname!=''">
            <![CDATA[
                and a.customer_name like #{custname}
            ]]>
        </if>
        <if test="ownerId!=null and ownerId!=''">
            <![CDATA[
                and a.owner_id = #{ownerId}
            ]]>
        </if>
        <if test="customerId!=null and customerId!=''">
            <![CDATA[
                and a.customer_id = #{customerId}
            ]]>
        </if>
        <![CDATA[
          LIMIT #{start},#{limit}
        ]]>
    </select>
</mapper>